<html>
  <head>
  </head>
    <body>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
    </form>
    <p>
      <%= msg %>
      <br>
      <br>
      <%= msg == "You got it right!" ? "The SECRET NUMBER is #{num}" : ""%>
    </p>
    </body>
</html>