<html>
  <head>
    <h1>Guess the Secret Number</h1>
    <h2>(Between 1 and 100, Only 5 Guesses!)</h2>
  </head>
    <body>
    <form>
      <input type='text' name='guess' autofocus = "autofocus" />
      <input type='submit' value='Guess!' />
    </form>
    <p>
      <%= msg %>
      <br>
      <br>
      Guesses left: <%= count %>
      <br>
      <br>
      <%= msg == "You got it right!" ? "The SECRET NUMBER is #{num}" : ""%>
    </p>
    <a class="homeButton" href="/">Home</a>
    </body>
</html>